@{
    //Layout = null;
    //DateTime selectedDate = (DateTime)ViewData["selectedDate"] == null ? DateTime.Now : (DateTime)ViewData["selectedDate"];
}
    <div style="text-align:center">
        <form action="/User/Login" method="post">
            <p><lable>username:</lable><input type="text" name="UserName" value="" placeholder="username"/></p>
            <p><lable>password:</lable><input type="password" name="EncryptedPassword" value="" placeholder="password"/></p>
            <p><button type="submit">Login</button></p>

        </form>
    </div>