<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <div>
        <form action="/User/Register" method="post">
            <table style="position:absolute;left:600px">
                <tr><td>username:</td><td><input type="text" name="UserName" value="" /></td></tr>
                <tr><td>password:</td><td><input type="password" name="EncryptedPassword" value="" /></td></tr>
                <tr><td>confirm:</td><td><input type="password" name="ConformPassword" value="" /></td></tr>
                <tr><td>email:</td><td><input type="text" name="Email" value="" /></td></tr>              
                <tr><td>       </td><td><button type="submit">Register</button></td></tr>
            </table>
        </form>
    </div>
</body>
</html>

