@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
<html>
<head>
    <title></title>
    <script type="text/javascript" src="~/js/jquery.min.js"></script>
    <script type="text/javascript" src="~/js/bootstrap.min.js'"></script>
    <link rel="stylesheet" href="~/css/bootstrap.css" type="text/css" />
    <style>
    </style>
    <script>
        var myVar = setInterval(function () { getPercent() }, 20000);
        var count = 0;
        function myTimer() {
            count += 1;
            if (count<=100) {
                atr = count + "%";          
                //document.getElementById("demo").innerHTML = t;
                $("#pb1").css("width", atr).text(atr);
            }            
        }
        function getPercent() {
            $.ajax({
                    url: '/Fund/GetProcessPercent',
                    type: 'post',
                    data: {

                    },
                    error: function (data) {
                        alert('请求失败');
                    },
                    success: function (data) {                       
                        atr1 = data.processmy + "%";
                        atr2 = data.processinfo + "%";
                        atr3 = data.processvalue+ "%";
                        console.log(atr1);
                        //console.log(atr);
                        $("#pb1").css("width", atr1).text(atr1);
                        $("#pb2").css("width", atr2).text(atr2);
                         $("#pb3").css("width", atr3).text(atr3);
                    }
                })
        }
    </script>
</head>
<body>
    <p>持仓更新进度:</p>
    <div class="progress">
        <div class="progress-bar progress-bar-striped active" id="pb1" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
        </div>
    </div>
    <p>FundInfos更新进度:</p>
    <div class="progress">
        <div class="progress-bar progress-bar-striped active" id="pb2" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
        </div>
    </div>
    <p>Values更新进度:</p>
    <div class="progress">
        <div class="progress-bar progress-bar-striped active" id="pb3" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
        </div>
    </div>
</body>
</html>



