@{
    //Layout = null;
    ViewData["Title"] = "Job";
}
@using Solo.Model
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <script type="text/javascript">
        function ajaxSearch() {
            $.ajax({
                url: '/Task/AjaxJob', //请求的url
                type: 'post', //请求的方式
                data: $('.searchForm').serialize(), //form表单里要提交的内容，里面的input等写上name就会提交，这是序列化
                error:function (data) {
                    alert('请求失败');
                },
                beforeSend: function () {  
                    // 禁用按钮防止重复提交  
                    $("#btnsearch").attr({ disabled: true });  
                    
                    //清空table中的html
                    $("#tbResult").html("");
                    $("#maindiv").append("<div id='loading'><img src='/image/loading.gif' /><div>");  
                },  
                success: function (data) {
                    $("#loading").remove();
                    $("#btnsearch").attr({ disabled: false });  
                    var str1 = "";                    
                    
                    for (var i = 0; i < data.length; i++){
                                       
                        str1 ="<tr>"+
                                "<td>" + data[i].type + "</td>" +
                                "<td>" + data[i].city + "</td>" +
                                "<td>" + data[i].requirement + "</td>" +
                              "</tr>";                             
                        $("#tbResult").append(str1);                        
                    }
                }
            });  
        }
    </script>
    <style>
        .inputV {
            width: 60px
        }

        .menu {
            text-align: center;
            position: relative;
            left: 70px;
            border: 1px solid black;
            width: 1370px;
        }

        .dataView{
            text-align:left;
            position:relative;
            border: 1px solid black;
            left:70px;
            width:1370px;
        }

        .sortable {
            width: 1370px;
        }

        .row {
            padding: 0px;
            margin: 0px;
            margin-bottom: 0px;
        }

        .row .row {
            padding: 0px;
            margin: 0px;
            margin-bottom: 0px;
            margin-top: 0px;
        }

        [class*="col-"] {
            padding: 0px;
            margin: 0px;
            padding-top: 0px;
            padding-bottom: 0px;
        }
    </style>
</head>

<body>
    <div class="menu">
        <form class="searchForm" method="post">
            <table>
                <tr>
                    <td>类型:</td>
                    <td>
                        @*<input type="text" name="Type" class="inputV" />*@
                        <select class="inputV" name="Type" style="width:120px">
                            <option value="DotNet">DotNet</option>
                            <option value="ImageProcess">ImageProcess</option>
                        </select>
                    </td>
                    <td>城市:</td>
                    <td>
                        @*<input type="text" name="City" class="inputV" />*@
                        <select class="inputV" name="City">
                            <option value="长沙">长沙</option>
                            <option value="北京">北京</option>
                            <option value="深圳">深圳</option>
                            <option value="上海">上海</option>
                            <option value="杭州">杭州</option>
                            <option value="武汉">武汉</option>
                        </select>
                    </td>
                    <td>要求:</td>
                    <td><input type="text" name="Requirement" class="inputV" /></td>
                    <td><button onclick=ajaxSearch() id="btnsearch">搜索</button></td>
                </tr>
            </table>
        </form>
    </div>
    <div class="dataView table-responsive" id="maindiv">
        <table border="1" cellspacing="0" cellpadding="0" class="sortable table-hover">
            <thead>
                <tr>
                    <td>类型</td>
                    <td>城市</td>
                    <td>要求</td>
                </tr>
            </thead>
            <tbody id="tbResult">
                @foreach (var item in (List<Job>)ViewData["Jobs"])
                {
                <tr>
                    <td>@item.Type</td>
                    <td>@item.City</td>
                    <td>@item.Requirement</td>
                </tr>
                }
                <tr></tr>
            </tbody>
        </table>
    </div>
</body>
</html>
